*
results
results/*
!analysis/README.md
!config
!config/*
!resources
!resources/*
!workflow
!workflow/**
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!.test/config/*
!.test/ngs-test-data
!LICENSE
!README.md
